@import '../Globals.scss';

.custom-card {
  width: 100%; // Neem de volledige breedte van de .custom-col
  height: 100%; // Neem de volledige hoogte van de .custom-col
  display: flex;
  flex-direction: column;
  border-radius: 10px; // Ronde hoeken voor de kaart
  background-color: #f5faf9;
color: $primary-color;
  @include box-shadow;
  &:hover{
    border: 2px solid $secondary-color;
  }
}

.custom-card-container {
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  overflow: hidden;
  max-height: 200px; // Maximale hoogte voor de afbeeldingscontainer
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    @include box-shadow;// Dropshadow bij hover
  }
  @media (max-width: 1199px) {
    padding: 5px;
    margin: 5px ;
  }
}

.custom-card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px; // Ronde hoeken aan de bovenkant links
  border-top-right-radius: 10px; // Ronde hoeken aan de bovenkant rechts
  &:hover {
    cursor: pointer; // Verandert de cursor in een pointer bij hover
  }
}

.custom-card-body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; // Verticaal centreren
  align-items: center; // Horizontaal centreren
}


.custom-btn {
  flex-shrink: 0; // Voorkomt dat de knop kleiner wordt
}

.full-width {
  .custom-card-container, .custom-card-body {
    flex-grow: 1;
  }
}

.clickable-ellipsis {
  cursor: pointer;
  color: $secondary-color;
  &:hover {
    color: $primary-color;
  }
}

.custom-card-text {
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: auto; // Scroll toevoegen als de tekst te lang is
  max-height: 10vh; // Maximale hoogte instellen
  @media (max-width: 1199px) {
    font-size: smaller;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.modal {
  display: flex;
  justify-content: center; // Horizontaal centreren
  align-items: center; // Verticaal centreren
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80vw; // 80% van de viewport breedte
  height: 80vh; // 80% van de viewport hoogte
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  overflow: auto; // voor het geval de inhoud groter is dan de modal
  border: 2px solid $secondary-color;
}

.modal-content img {
  max-height: 65vh;
  border-radius: 20px; // Ronde hoeken voor de afbeelding
  margin-top: 2rem;
}

.modal-text {
  text-align: center; // Centreert de tekst horizontaal
  font-size: 1.8em; // Vergroot de tekstgrootte
  max-width: 100%; // Maximale breedte is de breedte van de modal-content
  margin-top: 3rem ;
  margin-bottom: 2rem ;
  color: $primary-color;
}





