@import 'Globals';

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.custom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 kolommen van gelijke grootte
  gap: 16px; // Ruimte tussen de kaarten
  align-items: stretch; // Zorgt ervoor dat alle items zich uitstrekken om de beschikbare ruimte te vullen
  width: 80%;

  @include screen-md {
    grid-template-columns: repeat(2, 1fr); // 2 kolommen van gelijke grootte voor medium schermen
  }

  @include screen-sm {
    grid-template-columns: 1fr; // 1 kolom voor kleine schermen
  }

  @include screen-below-xl {
    width: 95%;
  }
}

.full-width-card {
  grid-column: 1 / -1; // Neemt de volledige breedte van de grid
}

